[Desktop Entry]
Name=risi
Comment=This session logs you into the risi gnome session
Exec=env GNOME_SHELL_SESSION_MODE=risi gnome-session
TryExec=gnome-session
Type=Application
DesktopNames=risi:GNOME
